:root {
  --black: #000;
  --darkpurple: #913175;
  --purple: #cd5888;
  --grey: #e9e8e8;
  --white: #fff;
  --red: #f60606;
}

.image-header {
  background-image: url("../media/images/sara2.jpg");
}

span {
  font-weight: bold;
}
.content form div {
  width: 270px;
}
.content form label {
  display: block;
  text-align: left;
}

.content .input {
  margin: 16px 0;
}
.input textarea {
  border: 3px solid var(--darkpurple);
  border-radius: 6px;
  width: 270px;
  height: 66px;
  padding-left: 10px;
}
form .button-container {
  margin-top: 40px;
  text-align: left;
}

.error-messages li {
  color: var(--red);
  padding: 4px;
}
.input input.input-success,
.input textarea.input-success {
  border: solid 2px green;
}

.input input.input-error,
.input textarea.input-error {
  border: solid 2px var(--red);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 10s;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  text-align: center;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal .modal-content {
    width: 500px;
  }
  #form {
    display: grid;
    grid-template-columns: 285px auto;
  }
  .error-messages li {
    padding: 15px 0 0 0;
  }
  ul.error-messages {
    padding-left: 40px;
  }
}
