:root {
  --black: #000;
  --darkpurple: #913175;
  --purple: #cd5888;
  --grey: #e9e8e8;
  --white: #fff;
}
h2 {
  margin: 30px 30px 0 30px;
}
.image-text {
  margin-bottom: 30px;
}
.image-text h2 {
  padding-top: 20px;
}
.image-text p {
  padding: 12px;
  margin: 0;
}
.home-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

div.image-text {
  background-color: var(--white);
  margin-top: 72px;
}
.home-page img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-page figcaption {
  padding-bottom: 10px;
}
main div.button-container {
  margin: -62px auto 0px;
}
.button-container.read-more {
  margin: 50px;
  position: inherit;
  width: auto;
}

@media screen and (min-width: 768px) {
  div.image-text {
    margin: 0 auto;
    width: 500px;
    position: absolute;
    top: 324px;
    left: 230px;
    right: 0;
  }
  .image-text h2 {
    padding-top: 0;
  }
  .image-text p {
    padding: 24px;
  }
  .image-header {
    margin-bottom: 200px;
  }
  .home-page p {
    margin: 0 auto 30px;
  }
  .home-page img {
    width: 50%;
  }

  main div.button-container {
    position: absolute;
    top: 250px;
    margin: 0 auto;
    width: 114px;
    right: 0;
    left: 230px;
  }
}
