:root {
  --black: #000;
  --darkpurple: #913175;
  --purple: #cd5888;
  --grey: #e9e8e8;
  --white: #fff;
}
h2 {
  margin: 30px 30px 0 30px;
}
.image-text h2 {
  padding-top: 20px;
}

div.image-text {
  background-color: var(--white);
  margin: 30px;
}
.home-page img {
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}
.home-page figcaption {
  padding-bottom: 10px;
}
p {
  max-width: 600px;
  padding: 0 30px 20px 30px;
}
@media screen and (min-width: 768px) {
  div.image-text {
    margin: 0 auto;
    width: 500px;
    position: absolute;
    top: 324px;
    left: 230px;
    right: 0;
  }
  .image-header {
    margin-bottom: 200px;
  }
}
